.tablelist{
    display: grid;
    list-style-type: none;
  }
  
  .tablelist li {
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .tablelist a {
    color: #000000;
  }
  
  .tablelist a:hover li{
    color: rgb(211, 235, 255);
    background: rgba(31, 44, 61, 1);
  }
  
  .tablelist li.title{
      font-weight: bold;
  }

.col7{
    grid-template-columns: repeat(7,1fr);    
  }
  
  .col7 .odd{
     background: rgba(144, 144, 144, 0.25);;
     display: grid;
     grid-column-start: 1;
     grid-column-end: 8;
     grid-template-columns: repeat(7,1fr); 
  }
  
  .col7 .even{
     display: grid;
     grid-column-start: 1;
     grid-column-end: 8;
     grid-template-columns: repeat(7,1fr);  
  }
  
  .tablelist.col7 a.h4long
  {
     display: grid;
     grid-column-start: 1;
     grid-column-end: 7;
     grid-template-columns: repeat(4,auto);
  }
  
  .tablelist.col7 a
  {
     display: grid;
     grid-column-start: 5;
     grid-column-end: 8;
     grid-template-columns: auto;
  }

  .tablelist.col6{
    grid-template-columns: repeat(6,1fr);    
  }
  
  /*.col6 .odd{
     background: green;
     display: grid;
     grid-column-start: 1;
     grid-column-end: 7;
     grid-template-columns: repeat(5,auto); 
  }
  
  .col6 .even{
     background: pink;
     display: grid;
     grid-column-start: 1;
     grid-column-end: 7;
     grid-template-columns: repeat(5,auto); 
  }*/
  

  .col6 .odd{
   background: rgba(144, 144, 144, 0.25);
   display: grid;
   grid-column-start: 1;
   grid-column-end: 7;
   grid-template-columns: repeat(6,1fr);    
}

.col6 .even{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 7;
   grid-template-columns: repeat(6,1fr); 
}

.tablelist.col6 a.h2long{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 5;
   grid-template-columns: repeat(4,1fr);
} 


.tablelist.col6 a{
   display: grid;
   grid-column-start: 5;
   grid-column-end: 7;
   grid-template-columns: repeat(2,1fr);
} 


.tablelist.col3{
   grid-template-columns: repeat(3,1fr);    
 }


.col2 .odd{
   background: rgba(144, 144, 144, 0.25);
   display: grid;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-template-columns: repeat(3,1fr);    
}

.col2 .even{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-template-columns: repeat(3,1fr); 
}


.tablelist.col2 a.h2long{
   display: grid;
   grid-column-start: 1;
   grid-column-end: 3;
   grid-template-columns: repeat(2,1fr);
} 

.tablelist.col2 {
   display: grid;
   grid-column-start: 3;
   grid-column-end: 4;
   grid-template-columns: repeat(1,1fr);
} 

.content-input {
   width: 15%;
   height: 20px;
   border: 1px solid #000000;
   margin-top: 10px;
   font-size: 15px;
   display: inline-block;
}

.efe {
   width: 85%;
   height: 20px;
   margin-bottom: 20px;
   text-align: left;
   font-size: 22px;
   display: inline-block;
}

