/* Imports */
@import url('manager.css');
@import url('admin.css');

/* Basic */
* {
  box-sizing: border-box;
  margin: 0px;
}

/* Headers */
h1, h2, h3, h4 {
  color: #363636;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
	vertical-align: baseline;
  text-align: center;
}

h2 {
	font-size: 95%;
}

h3 {
  font-size: 85%;
}

h4 {
  font-size: 75%;
}

/* Buttons */
button, .button.large{
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  background-color:#1f2c3d;
  border: 1px solid #d3ebff;
  text-align: center;
  color:#d3ebff;
  font-weight: bold;
  position: relative;
}
.button.large, button.danger {
  width: 95%;
}
button:hover, .button:hover {
  cursor: pointer;
  background-color:#d3ebff;
  color:#1f2c3d;
  border-color: #1f2c3d;
}
button.danger{
  background-color:#2c0000;
  border: 2px solid #d3ebff;
}
button.danger:hover{
  background-color:#d3ebff;
  border: 2px solid #791515;
  color: #791515;
}


/* Header */
.header {
  background-color: #1f2c3d;
  color: #dadada;
  padding: 15px;
  text-align: left;
  font-size: 18px;
} 
.header img {
  width: 13px;
}
/* Header Menu */
.menu {
  margin-top: 10px;
  text-align: right;
  font-size: 15px;
}
.menu nav a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
.menu nav li{
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  background-color :#1f2c3d;
  border: 1px solid #d3ebff;
  text-align: center;
  color :#d3ebff;
  position: relative;
}
.menu nav li.danger{
  background-color: #791515;
}
.menu nav li:hover{
  background-color:#d3ebff;
  color:#1f2c3d;
  border-color: #1f2c3d;
} 
.menu nav li.danger:hover{
  color: #d3ebff;
  background-color: #2c0000;
  border-color: #d3ebff;
}
.menu nav li>ul{
  display: none;
}
.menu nav li:hover>ul{
  display: block;
  position: absolute;
  top: 29px;
  right: -1px;
}
/* Sub Header */
.header.sub {
  margin-bottom: 20px;
  padding: 5px;
	display: flex;
	flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}
.header.sub .menu {
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
}
/* Responsive layout */
@media (max-width: 850px) {
  .header.sub .menu nav li:hover>ul{
    display: block;
    position: relative;
    top: 5px;
    left: -51px;
  }
}


/* Paragraphs */
p {
  padding: 0;
	border: 0;
}

a { 
  color: #dadada;
  text-decoration: none; 
}
a:hover{
  color:rgb(138, 150, 32);
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d3ebff;
  color: #000000;
}

/* Table */
table {
  border-collapse: collapse;
	border-spacing: 0;
  margin: 0 0 2em 0;
  width: 100%;
  text-align: left;
  font-size: 15px;
}
table a{
  color: #1f2c3d;
}
  table tbody tr {
    border: solid 1px #1f2c3d;
    border-left: 0;
    border-right: 0;
  }
    table tbody tr:nth-child(2n + 1) {
      background-color: rgba(144, 144, 144, 0.25);
    }
  table td {
    padding: 0.75em 0.75em;
  }
  table th {
    color: #1f2c3d;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.85em 0.85em 0.85em 0.85em;
  }
  table thead, table tfoot {
    border-bottom: solid 2px #1f2c3d;
  }
  table.alt {
    border-collapse: separate;
  }
  table.alt tbody tr td {
    border: solid 1px #1f2c3d;
    border-left-width: 0;
    border-top-width: 0;
  }

    table.alt tbody tr td:first-child {
      border-left-width: 1px;
    }

  table.alt tbody tr:first-child td {
    border-top-width: 1px;
  }

  table.alt thead, table.alt tfoot {
    border-top: 0;
  }


/* Main */
main {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
main h1, h2, h3, h4 {
  color: #363636;
}
main img {
  width: 40%;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 33.33%;
}

/* Middle column */
.column.middle {
  width: 33.33%;
}

.column.middle .image img, .column.side .image img{
  border-radius: 4px;
  border: 0;
  position: relative;
  border-radius: 4px;
  display: block; 
  margin: 0 0 3rem 0;
  width: 100%;
}

/* Left column */
.column.left {
  width: 50%;
}

/* Right column */
.column.right {
  float: right;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout: makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
  .column.side, .column.middle, .column.left, .column.right{
    width: 100%;
  }
}

/* Zoom */
.zoom {
  transition: transform .2s; 
}
.zoom:hover {
  transform: scale(1.05); 
}

/* Code & Blockquote */
.code {
  background: #1f2c3d;
  border-radius: 3px;
  font-size: 0.9em;
  margin: 10px;
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
  overflow-y: auto;
}
.code h1, .code h2{
  color: #dadada;
}
.code h3, .code h4 {
  color: #d3ebff;
}
.code p {
  color: #dadada;
}
.code a {
  text-decoration: underline; 
}
.code ul, .code ol, .code li {
  color: #dadada;
}
.code img{
  /* width: 80px; height: 80px; */
  width: 25%;
}
.code fieldset{
  margin: 1px;
  border-color: #dadada;
  border-style: groove;
}
.code fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
  color: #d3ebff;
}
.code label{
  color: #d3ebff;
}
.code.details{
  height: 750px;
}
.code.plan {
  height: 1150px;
}
.code.info {
  text-align: center;
  height: 250px;
}
.code.info img {
  width: 75px;
  height: 75px;
  margin-top: 5px;
  border: 1px solid #d3ebff;
  border-radius: 5px;
  padding: 5px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.code.showtimes {
  height: 600px;
}
.code.showtimes p {
  height: 5em;
  overflow-x: auto;
  overflow-y: auto;
}
.code.showtimes:hover {
  filter: drop-shadow(5px 5px 10px #1f2c3d);
}
.code.cinemas {
  height: 210px;
}
.code.cinemas img {
  margin: 0.7em 0 0.2em 0;
  width: 200px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.code.promo img {
  margin: 0.1em 0 0.8em 0;
  width: 30%;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 #00020f, 0 6px 20px 0 #00020f;
}
.code.purchase, .code.resume {
  text-align: center;
}
.code.purchase h3 {
  margin-top: 2em;
}
.code.purchase img {
  margin: 0.1em 0 0.8em 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 #d3ebff, 0 6px 20px 0 #d3ebff;
}
.code.purchase select, .code.purchase select option {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0.1em 0.5em 1em 0.5em;
  font-weight: bold !important;
  color: #1f2c3d !important;
  background-color: #d3ebff;
  text-transform: uppercase;
}


/* BlockQuotes */
.blockquote {
  border-left: solid 4px #dadada;
	margin: 0 0 2em 0;
  margin-top: 10px;
	padding: 0.5em 0 0.5em 2em;
}
.blockquote.bio {
  height: 250px;
}

/* Sketches */
.sketches {
  text-align: center;
  display: block;
  line-height: 1.25em;
  padding: 1em 1em;
  overflow-x: auto;
  background: #1f2c3d;
  border-radius: 3px;
  height: 680px;
}
.sketches h1, .sketches h2, .sketches h3, .sketches h4, .sketches p {
  color: #dadada;
}
.sketches img {
  width: 550px; 
  height: 550px;
}
.sketches .description {
  color: #d3ebff;
}
/* Responsive layout */
@media (max-width: 1500px) {
  .column.side .sketches, .column.middle .sketches {
    width: 100%;
    height: 500px;
  }
  .column.side .sketches img, .column.middle .sketches img {
    width: 100%;
    height: 75%;
  }
}
@media (max-width: 1150px) {
  .sketches img {
    width: 100%;
    height: 75%;
  }
}

/* Text Box */
.textbox {
  color: #d3ebff;
  padding: 15px 15px 10px 15px;
  margin: 10px 0 10px;
  overflow: hidden;
  border-radius: 25px 0px 25px 0px;
  border: 2px solid #d3ebff;
}
.textbox h1, .textbox h2, .textbox h3 {
  color: #d3ebff;
  text-align: left;
}

/* Galery */
.galery {
  box-sizing: border-box;
}
.galery .columna {
  margin-top: 10px;
  float: left;
  width: 50%;
  padding-right: 10px;
}
.galery .fila::after {
  content: "";
  clear: both;
  display: table;
}
.galery .image img {
  width: 100%;
}
.galery .image.main img {
  width: 100%;
}

/* Promotions */
.promotions {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.promotions a {
  width: 100%;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  border-radius: 10px;
  border-style: dashed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.promotions button {
  margin: 1em 1em 0 1em;
  background-repeat: no-repeat;
  height: 125px;
  width: 125px;
  background-position: center;
}
.controls {
  text-align: center;
}
.controls #play {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.controls #stop {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
/* Responsive layout */
@media (max-width: 750px) {
  .promotions button {
    margin: 0 1em 0 1em;
  }
  .promotions .imagen {
    margin-top: 2.5em;
    width: 100%;
    height: 40px;
  }
}


/* Percentage bar */
.bar {
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  color: #00020f;
  background-color: #d3ebff;
  text-align: right;
}
.bar.seventyfive {
  width: 75%;
}
.bar.fifty {
  width: 50%;
}
.bar.twentyfive {
  width: 25%;
}

/* Timeline Image */
.timeline h2 {
  padding-top: 50px;
}
.timeline img{
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Sidebars */
.sidebar.left {
	padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
	float: left;
	width: 300px;
	height: 370PX;
  color: #d3ebff;
	background-color: #1f2c3d;
}
.sidebar.left a {
	color: #d3ebff;
	font-weight: bold;
	text-decoration: none;
} 
.sidebar.left a:hover {
	color: #d3ebff;
	text-decoration: underline;
}
/* Responsibe sidebar */
@media (max-width: 1000px) {
  .sidebar.left {
    width: 100%;
    height: 100%;
  }
}


/* Form */
form {
  margin: auto;
  width: 65%;
}

form h1, h2, h3, h4 {
  color: #363636;
}

label {
  text-align: center;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  height: 27px;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 150px;
}

#radio, #checkbox {
  width: auto;
  height: 15px;
  cursor: pointer;
}

.verify {
  font-size: 11px;
}
.verify a {
  color: #1f2c3d;
}
.verify a:hover {
  color: rgb(138, 150, 32);
}

#submit, #register {
  width: 100%;
  height: 35px;
  border: 1px solid #000000;
  padding: 5px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 2px #1f2c3d;
  filter: brightness(105%);
  cursor: pointer;
}
#submit:hover, #register:hover {
  background-color: #d3ebff;
}

#reset {
  width: 100%;
  height: 30px;
  border: 1px solid #dadada;
  background-color: #00020f;
  color: #dadada;
  padding: 5px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 2px 2px #1f2c3d;
  cursor: pointer;
}
#reset:hover {
  border:#000000;
  background-color: #791515;
}

.file{
  margin-top: 10px;
}
.file input{
  height: 110%;
}

.card-holder {
  width: 75%;
  display: inline-block;
}
.input-cart-number, .fieldset-cvv, .select {
  width: 70px;
  max-width: 100%;
  display: inline-block;
}

form select {
  display: inline-block;
  font-size: 14px;
  font-weight: 400px;
  color: #1f2c3d;
  line-height: 1.3;
  padding: 0.2em 0.2em 0.2em 0.2em;
  width: 75px;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 10px auto;
  border: 1px solid #d3ebff;
  box-shadow: 0 1px 0 1px #1f2c3d;
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}
form select::-ms-expand {
  display: none;
}
form select:hover {
  border-color: #d3ebff;
}
form select:focus {
  border-color: #d3ebff;
  box-shadow: 0 0 1px 3px #1f2c3d;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #1f2c3d; 
  outline: none;
}
form select option {
  font-weight: normal;
}


/* Preformatted Text */
pre {
  font-weight: bold;
}

fieldset pre {
  color: red;
}

/* Go Up button */
.go-up {
  display: none;
  padding: 5px;
  background:#1f2c3d;
  font-size: 20px;
  color:#d3ebff;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 20px;
}


/* Footer */
footer {
  text-align: left;
  background-color: #1f2c3d;
  color: #dadada;
  padding: 20px;
  margin-top: 100px;
  width: 100%;
  height: 80px;
}
.footer {
  text-align: right;
}
footer button {
  display: inline-block;
  margin: 1px;
  width: 115px;
  height: 25px;
  padding: 0px 0px;
  text-align: center;
  font-weight: bold;
  position: relative;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
    height: 100%;
  }
}