h3.table_title{
	text-align: center;
	margin-bottom: 1em;
}

table.seat {
  border: solid 10px #1f2c3d;
  text-align: center;
  background-color: rgba(215, 215, 215, 1);
}

table.seat tbody tr:nth-child(2n + 1) {
  background-color: rgba(204, 255, 204, 0);
}

table.seat th{
  font-size: 0.9em;
  padding: 0.30em 0.30em 0.30em 0.30em;
  border-bottom: solid 2px #1f2c3d;
}

table.seat th:first-child {
  border-right: solid 2px #1f2c3d;
}

table.seat td {
  padding: 0.35em 0.35em;
}

table.seat td:first-child {
  font-size: 0.9em;
  padding: 0.30em 0.30em 0.30em 0.30em;
  font-weight: 600;
  border-right: solid 2px #1f2c3d;
}

.check_box {
  display:none;
}

.check_box+label{
    background:url('../../img/seat_red.png') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
}

.check_box:checked+label{
	background:url('../../img/seat_green.png') no-repeat;
}

button, .black.button {
  width: 100%;
  height: 30px;
  border: 1px solid #dadada;
  background-color: #00020f;
  color: #dadada;
  padding: 5px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 2px 2px #1f2c3d;
  cursor: pointer;
}
button:hover, .black.button:hover {
  border:#000000;
  background-color: #791515;
}