/* Basic */
* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d3ebff;
  color: #000000
}

/* Headers */
h1, h2, h3, h4 {
  color: #363636;
  text-transform: uppercase;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  text-align: center;
}

/* Paragraphs */
p {
  padding: 0;
	border: 0;
}

a { 
    color: #dadada;
    text-decoration:none; 
}
a:hover{
  color:rgb(138, 150, 32);
}


/* Form */
form {
  margin: 0 auto;
  width: 50%;
}

label {
  text-align: center;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  height: 27px;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 150px;
}

#radio, #checkbox {
  width: auto;
  height: 15px;
  cursor: pointer;
}

.verify {
  font-size: 11px;
}

#submit {
  width: 100%;
  height: 35px;
  border: 1px solid #000000;
  padding: 5px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#reset {
  width: 100%;
  height: 30px;
  border: 1px solid #ffffff;
  background-color: #0f0000;
  color: #dadada;
  padding: 5px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}


/* Style the header */
.header {
  background-color: #1f2c3d;
  color: #dadada;
  padding: 15px;
  text-align: left;
  font-size: 15px;
} 
.menu {
    background-color: #1f2c3d;
    color: #dadada;
    text-align: right;
    font-size: 15px;
}

/* Style the main */
.main {
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Text on the middle of the page */
.blockquote {
  border-left: solid 4px #dadada;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

.code {
  background: #1f2c3d;
  border-radius: 3px;
  font-size: 0.9em;
  letter-spacing: 0;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  display: block;
	line-height: 1.75em;
	padding: 1em 1.5em;
	overflow-x: auto;
}
.code p{
  color: #dadada;
}

/* CTA */
#cta {
  background-color: #1b63ce;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(4, 18, 54, 0.25), rgba(4, 18, 54, 0.25)), url(../../images/sala1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1; 
}
#cta h1, h2, h3 {
  color: #dadada;
}
/* Wrapper */
.wrapper {
  padding: 8rem 0 6rem 0 ;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      padding: 4rem 0 2rem 0 ; } }
  @media screen and (max-width: 736px) {
    .wrapper {
      padding: 3rem 0 1rem 0 ; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 2rem 0 0.1rem 0 ; 
    } 
  }
/* Inner */
.inner {
  margin: 0 auto;
  width: 175rem;
  max-width: calc(100% - 6rem); 
}
  @media screen and (max-width: 480px) {
    .inner {
      max-width: calc(100% - 3rem); 
    } 
  }


/* Style the footer */
.footer {
  background-color: #1f2c3d;
  color: #dadada;
  padding: 25px;
  margin-top: 250px;
  width: 100%;
  height: 80px;
  text-align: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}